<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}">
</head>
<body>
<header th:replace="~{layout/layout :: header}">
</header>

<!-- Detail Start -->
<div class="container-fluid pt-5">
    <div class="container pt-5 pb-3">
        <h1 class="display-4 text-uppercase mb-5" th:text="${car.model}">Car Model</h1>
        <div class="row align-items-center pb-2">
            <div class="col-lg-6 mb-4">
                <img class="img-fluid" th:src="@{${car.imagePath}}" alt="Car image">
            </div>
            <div class="col-lg-6 mb-4">
                <h4 class="mb-2" th:text="'$' + ${car.price} + '/Day'">Price/Day</h4>
                <p th:text="${car.description}">Car Description</p>
                <div class="d-flex pt-1">
                    <h6>Share on:</h6>
                    <div class="d-inline-flex">
                        <a class="px-2" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        <a class="px-2" href="https://x.com/"><i class="fab fa-twitter"></i></a>
                        <a class="px-2" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        <a class="px-2" href="https://www.pinterest.es/"><i class="fab fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-n3 mt-lg-0 pb-4">
            <div class="col-md-3 col-6 mb-2">
                <i class="fa fa-car text-primary mr-2"></i>
                <span th:text="'Model: ' + ${car.modelYear}">Model Year</span>
            </div>
            <div class="col-md-3 col-6 mb-2">
                <i class="fa fa-cogs text-primary mr-2"></i>
                <span th:text="${car.transmission}">Transmission</span>
            </div>
            <div class="col-md-3 col-6 mb-2">
                <i class="fa fa-road text-primary mr-2"></i>
                <span th:text="${car.km + ' km'}">Mileage</span>
            </div>
            <div class="col-md-3 col-6 mb-2">
                <i class="fa fa-palette text-primary mr-2"></i>
                <span th:text="'Color: ' + ${car.color}">Color</span>
            </div>
            <div class="col-md-3 col-6 mb-2">
                <i class="fa fa-door-open text-primary mr-2"></i>
                <span th:text="'Number of doors: ' + ${car.numberDoors}">Number of doors</span>
            </div>
            <div class="col-md-3 col-6 mb-2">
                <i class="fa fa-weight text-primary mr-2"></i>
                <span th:text="'Weight: ' + ${car.weight} + ' kg'">Weight</span>
            </div>
            <div class="col-md-3 col-6 mb-2">
                <i class="fa fa-chair text-primary mr-2"></i>
                <span th:text="'Seats: ' + ${car.numberSeats}">Number of seats</span>
            </div>
            <div class="col-md-3 col-6 mb-2">
                <i class="fa fa-shield-alt text-primary mr-2"></i>
                <span th:text="'Category: ' + ${car.category}">Category</span>
            </div>
            <div class="col-md-3 col-6 mb-2">
                <i class="fa fa-horse text-primary mr-2"></i>
                <span th:text="'Horsepower: ' + ${car.motor.horsepower} +' hp'">Horsepower</span>
            </div>
            <div class="col-md-3 col-6 mb-2">
                <i class="fa fa-wrench text-primary mr-2"></i>
                <span th:text="'Torque: ' + ${car.motor.torque} + ' Nm'">Torque</span>
            </div>
            <div class="col-md-3 col-6 mb-2">
                <i class="fa fa-gas-pump text-primary mr-2"></i>
                <span th:text="'Fuel type: ' + ${car.motor.fuelType}">Fuel type</span>
            </div>
            <div class="col-md-3 col-6 mb-2">
                <i class="fa fa-oil-can text-primary mr-2"></i>
                <span th:text="'Engine volume: ' + ${car.motor.engineVolume} + 'L'">Engine volume</span>
            </div>
        </div>
    </div>
</div>
<!-- Detail End -->

<!-- Car Booking Start -->
<form action="#" method="post" th:object="${booking}">
    <div class="container-fluid pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2 class="mb-4">Personal Detail</h2>
                    <div class="mb-5">
                        <div class="row">
                            <div class="col-6 form-group">
                                <input type="text" class="form-control p-4" placeholder="First Name"
                                       th:value="${user.firstname}" required="required" disabled>
                            </div>
                            <div class="col-6 form-group">
                                <input type="text" class="form-control p-4" placeholder="Last Name"
                                       th:value="${user.lastname}" required="required" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 form-group">
                                <input type="email" class="form-control p-4" placeholder="Your Email"
                                       th:value="${user.email}" required="required" disabled>
                            </div>
                            <div class="col-6 form-group">
                                <input type="text" class="form-control p-4" placeholder="Mobile Number"
                                       th:value="${user.phoneNumber}" required="required" disabled>
                            </div>
                        </div>
                    </div>
                    <h2 class="mb-4">Booking Detail</h2>
                    <div class="mb-5">
                        <div class="row">
                            <div class="col-6 form-group">
                                <select class="custom-select px-4" style="height: 50px;" name="pickupLocation" required>
                                    <option disabled selected value="">Select Pickup Location</option>
                                    <option th:each="location : ${locations}" th:value="${location}"
                                            th:text="${location.address}"></option>
                                </select>
                            </div>
                            <div class="col-6 form-group">
                                <select class="custom-select px-4" style="height: 50px;" name="dropLocation" required>
                                    <option disabled selected value="">Select Drop Location</option>
                                    <option th:each="location : ${locations}" th:value="${location}"
                                            th:text="${location.address}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 form-group">
                                <div class="date" id="date2" data-target-input="nearest">
                                    <input type="text" class="form-control p-4 datetimepicker-input"
                                           placeholder="Pickup Date"
                                           data-target="#date2" data-toggle="datetimepicker" th:field="*{pickupDate}"
                                           required/>
                                </div>
                            </div>
                            <div class="col-6 form-group">
                                <div class="time" id="time2" data-target-input="nearest">
                                    <input type="text" class="form-control p-4 datetimepicker-input"
                                           placeholder="Pickup Time"
                                           data-target="#time2" data-toggle="datetimepicker" th:field="*{pickupTime}"
                                           required/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control py-3 px-4" rows="3" placeholder="Special Request"
                                      th:field="*{specialRequest}"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bg-secondary p-5 mb-5">
                        <h2 class="text-primary mb-4">Payment</h2>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="paymentMethod" id="paypal"
                                       value="Paypal" required>
                                <label class="custom-control-label" for="paypal">Paypal</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="paymentMethod" id="directcheck"
                                       value="DirectCheck" required>
                                <label class="custom-control-label" for="directcheck">Direct Check</label>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="paymentMethod" id="banktransfer"
                                       value="BankTransfer" required>
                                <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                            </div>
                        </div>
                        <button th:if="${car.isAvailable()}" type="submit" class="btn btn-block btn-primary py-3">
                            Reserve Now
                        </button>
                        <button th:if="${!car.isAvailable()}" type="submit" class="btn btn-block btn-primary py-3"
                                disabled>Not Available Now
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Car Booking End -->

<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="owl-carousel vendor-carousel">
            <div class="bg-light p-4">
                <img src="/img/vendor-1.png" alt="">
            </div>
            <div class="bg-light p-4">
                <img src="/img/vendor-2.png" alt="">
            </div>
            <div class="bg-light p-4">
                <img src="/img/vendor-3.png" alt="">
            </div>
            <div class="bg-light p-4">
                <img src="/img/vendor-4.png" alt="">
            </div>
            <div class="bg-light p-4">
                <img src="/img/vendor-5.png" alt="">
            </div>
            <div class="bg-light p-4">
                <img src="/img/vendor-6.png" alt="">
            </div>
            <div class="bg-light p-4">
                <img src="/img/vendor-7.png" alt="">
            </div>
            <div class="bg-light p-4">
                <img src="/img/vendor-8.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->

<!-- Footer Start -->
<footer class="bg-dark text-center text-white-50 py-5 px-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 mb-3 mb-lg-0">
                <p class="m-0">Copyright &copy; <a th:href="@{/index}" class="text-white">Tanger Royal Cars</a>. All
                    Rights Reserved.</p>
            </div>
            <div class="col-lg-5">
                <div class="d-flex justify-content-center">
                    <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/tempusdominus/js/moment.min.js"></script>
<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
</body>
</html>
