<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/layout :: head}">
<body>
<header>
    <div class="container-fluid bg-dark py-3 px-lg-5 d-none d-lg-block">
        <div class="row">
            <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <a class="text-body pr-3" th:href="@{/contact}"><i class="fa fa-phone-alt mr-2"></i>+21299999999</a>
                    <span class="text-body">|</span>
                    <a class="text-body px-3" th:href="@{/contact}"><i class="fa fa-envelope mr-2"></i>abdelghani.elyousfi@educa.madrid.org</a>
                </div>
            </div>
            <div class="col-md-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-body px-3" href="https://www.facebook.com/">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-body px-3" href="https://x.com/">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-body px-3" href="https://es.linkedin.com/">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-body px-3" href="https://www.instagram.com/">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-body pl-3" href="https://www.youtube.com/">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="position-relative px-lg-5" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-secondary navbar-dark py-3 py-lg-0 pl-3 pl-lg-5">
                <a th:href="@{/index}" class="navbar-brand">
                    <h1 class="text-uppercase text-primary mb-1">Tanger Royal Cars</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a th:href="@{/index}" class="nav-item nav-link">Home</a>
                        <a th:href="@{/car-sale}" class="nav-item nav-link">Car buying</a>
                        <a th:href="@{/car-rent}" class="nav-item nav-link">Car renting</a>
                        <a th:href="@{/about}" class="nav-item nav-link">About</a>
                        <div class="nav-item dropdown" sec:authorize="isAuthenticated()">
                            <a href="#" class="nav-link dropdown-toggle" th:text="${#authentication.principal.username}"
                               data-toggle="dropdown"></a>
                            <div class="dropdown-menu">
                                <a th:href="@{/my-account}" class="dropdown-item">My Account</a>
                                <a th:href="@{/my-operations}" class="dropdown-item">My Operations</a>
                                <a sec:authorize="hasRole('ADMIN')" th:href="@{/car-register}" class="dropdown-item">New Car</a>
                                <a th:href="@{/logout}" class="dropdown-item">Logout</a>
                            </div>
                        </div>
                        <a th:href="@{/login}" sec:authorize="!isAuthenticated()" class="nav-item nav-link">
                            <i class="fa fa-user"></i> Login
                        </a>
                    </div>
                </div>

            </nav>
        </div>
    </div>
    <!-- Navbar End -->
</header>

<div class="container-fluid bg-white pt-3 px-lg-5">
    <form class="pb-3" th:action="@{/car-rent}" method="get">
        <div class="row">
            <!-- Categoría -->
            <div class="col-12 col-md-4 mb-3">
                <select class="custom-select px-4" name="category">
                    <option value="" selected>Category</option>
                    <option th:each="category : ${categories}" th:value="${category.name()}" th:text="${category.category}"></option>
                </select>
            </div>

            <!-- Marca -->
            <div class="col-12 col-md-4 mb-3">
                <select class="custom-select px-4" name="brand">
                    <option value="" selected>Brand</option>
                    <option th:each="brand : ${brands}" th:value="${brand.name()}" th:text="${brand.name}"></option>
                </select>
            </div>

            <!-- Botón de búsqueda -->
            <div class="col-12 col-md-4 mb-3">
                <button class="btn btn-primary btn-block" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>

<!-- Rent A Car Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <h1 class="display-4 text-uppercase text-center mb-5">Find Your Car</h1>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-2" th:each="car : ${cars}">
                <div class="rent-item mb-4">
                    <img class="img-fluid mb-4" th:if="${car.isAvailable()}" th:src="@{${car.imagePath}}"
                         alt="Car image">
                    <img class="img-fluid mb-4" th:if="${!car.isAvailable()}" th:src="@{${car.imagePath}}"
                         alt="Car image" style="opacity: 0.5; position: relative;">
                    <span th:if="${!car.isAvailable()}"
                          style="position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%); color: white; background: rgba(0, 0, 0, 0.5); padding: 10px; font-size: 1.5rem;">Not Available</span>
                    <h4 class="text-uppercase mb-4" th:text="${car.model}">Car Model</h4>
                    <div class="d-flex justify-content-center mb-4">
                        <div class="px-2">
                            <i class="fa fa-car text-primary mr-1"></i>
                            <span th:text="${car.modelYear}">Year</span>
                        </div>
                        <div class="px-2 border-left border-right">
                            <i class="fa fa-cogs text-primary mr-1"></i>
                            <span th:text="${car.transmission}">Transmission</span>
                        </div>
                        <div class="px-2">
                            <i class="fa fa-road text-primary mr-1"></i>
                            <span th:text="${car.km}">Mileage</span>
                        </div>
                    </div>
                    <a class="btn btn-primary px-3" th:href="@{'/booking/' + ${car.chassisSerialNumber}}"
                       th:text="'$' + ${car.price} + '/Day'">Price/Day</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Rent A Car End -->

<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="owl-carousel vendor-carousel">
            <div class="bg-light p-4">
                <img src="img/vendor-1.png" alt="">
            </div>
            <div class="bg-light p-4">
                <img src="img/vendor-2.png" alt="">
            </div>
            <div class="bg-light p-4">
                <img src="img/vendor-3.png" alt="">
            </div>
            <div class="bg-light p-4">
                <img src="img/vendor-4.png" alt="">
            </div>
            <div class="bg-light p-4">
                <img src="img/vendor-5.png" alt="">
            </div>
            <div class="bg-light p-4">
                <img src="img/vendor-6.png" alt="">
            </div>
            <div class="bg-light p-4">
                <img src="img/vendor-7.png" alt="">
            </div>
            <div class="bg-light p-4">
                <img src="img/vendor-8.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->

<!-- Footer Start -->
<footer th:replace="~{layout/layout ::footer}"></footer>
<!-- Footer End -->
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/tempusdominus/js/moment.min.js"></script>
<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
</body>

</html>