<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}">
    <style>
        .registration-form {
            background-color: #fff;
            padding: 40px;
            margin: 50px auto;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            max-width: 700px;
        }
        .registration-form h2 {
            color: #FF8000; /* Orange color matching the site theme */
            margin-bottom: 30px;
        }
        .registration-form .form-group {
            margin-bottom: 20px;
        }
        .registration-form .form-control {
            border-radius: 5px;
            border: 1px solid #003366; /* Dark blue border */
        }
        .registration-form .btn-primary {
            background-color: #FF8000; /* Orange button */
            border-color: #FF8000;
        }
        .registration-form .btn-primary:hover {
            background-color: #e57300; /* Darker orange on hover */
            border-color: #e57300;
        }
        .registration-form .row > .col-md-6 {
            padding-right: 15px;
            padding-left: 15px;
        }
        .registration-container {
            margin-top: 50px;
        }
    </style>
</head>
<body>
<header th:replace="~{layout/layout :: header}">
</header>
<div class="container-fluid py-5 registration-container">
    <div class="container pt-5 pb-3">
        <div class="registration-form">
            <h2>Register a new Car</h2>
            <br>
            <form th:action="@{/car-register}" th:object="${car}" method="POST">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="chassisSerialNumber">Chassis Serial Number:</label>
                        <input type="text" id="chassisSerialNumber" name="chassisSerialNumber" class="form-control" th:field="*{chassisSerialNumber}" required minlength="17">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="category">Category:</label>
                        <select id="category" name="category" class="form-control" required>
                            <option th:each="category : ${categories}" th:value="${category}" th:text="${category.category}">Category</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="carBrand">Car Brand:</label>
                        <select id="carBrand" name="carBrand" class="form-control" required>
                            <option th:each="carBrand : ${carBrands}" th:value="${carBrand}" th:text="${carBrand.name}">Car Brand</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="engineDisplacement">Engine Displacement:</label>
                        <input type="number" id="engineDisplacement" name="engineDisplacement" class="form-control" step="0.01" th:field="*{motor.engineCc}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="engineDescription">Engine Description:</label>
                        <input type="text" id="engineDescription" name="engineDescription" class="form-control" th:field="*{motor.description}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="engineVolume">Engine Volume:</label>
                        <input type="number" id="engineVolume" name="motor.engineVolume" class="form-control" step="0.01" th:field="*{motor.engineVolume}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="fuelType">Fuel Type:</label>
                        <select id="fuelType" name="fuelType" class="form-control" th:field="*{motor.fuelType}"  required>
                            <option th:each="fuelType : ${fuelTypes}" th:value="${fuelType}" th:text="${fuelType.fuelTypeEnum}" >Fuel Type</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="torque">Torque:</label>
                        <input type="number" id="torque" name="motor.torque" class="form-control" th:field="*{motor.torque}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="horsepower">Horsepower:</label>
                        <input type="number" id="horsepower" name="motor.horsepower" class="form-control" th:field="*{motor.horsepower}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="km">Kilometers:</label>
                        <input type="number" id="km" name="km" class="form-control" th:field="*{km}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="description">Car Description:</label>
                        <input type="text" id="description" name="description" class="form-control" th:field="*{description}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="model">Model:</label>
                        <input type="text" id="model" name="model" class="form-control" th:field="*{model}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="modelYear">Model Year:</label>
                        <input type="date" id="modelYear" name="modelYear" class="form-control" th:field="*{modelYear}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="color">Color:</label>
                        <input type="text" id="color" name="color" class="form-control" th:field="*{color}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="numberDoors">Number of Doors:</label>
                        <input type="number" id="numberDoors" name="numberDoors" class="form-control" th:field="*{numberDoors}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="transmission">Transmission:</label>
                        <select id="transmission" name="transmission" class="form-control" required>
                            <option th:each="transmission : ${transmissionTypes}" th:value="${transmission}" th:text="${transmission.description}">Transmission</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="weight">Weight:</label>
                        <input type="number" id="weight" name="weight" class="form-control" th:field="*{weight}"  required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="numberSeats">Number of Seats:</label>
                        <input type="number" id="numberSeats" name="numberSeats" class="form-control" th:field="*{numberSeats}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="traction">Traction:</label>
                        <select id="traction" name="traction" class="form-control" required>
                            <option th:each="traction : ${tractionTypes}" th:value="${traction}" th:text="${traction.description}">Traction</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="steering">Steering:</label>
                        <select id="steering" name="steering" class="form-control" required>
                            <option th:each="steering : ${steeringTypes}" th:value="${steering}" th:text="${steering.displayName}">Steering</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="price">Price:</label>
                        <input type="number" id="price" name="price" class="form-control" step="0.01" th:field="*{price}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="carFor">Car For:</label>
                        <select id="carFor" name="carFor" class="form-control" required>
                            <option th:each="carFor : ${carFors}" th:value="${carFor}" th:text="${carFor.carFor}">Car For</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 mb-4">
                        <label for="imagePath">Image Path:</label>
                        <input type="text" id="imagePath" name="imagePath" class="form-control">
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Register Car</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="~{layout/layout ::footer}"></footer>
<!-- Footer End -->
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>
</html>