<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}">
    <style>
        .terms-conditions {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
        }

        .terms-conditions h2 {
            color: #FF8000; /* Match the orange color */
            margin-top: 20px;
        }

        .terms-conditions h3 {
            color: #003366; /* Match the dark blue color */
            margin-top: 15px;
        }

        .terms-conditions p {
            margin: 10px 0;
        }

        .important {
            font-weight: bold;
            color: #FF8000; /* Match the orange color */
        }
    </style>
</head>
<body>
<header th:replace="~{layout/layout :: header}">
</header>
<!-- Terms & Conditions Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="terms-conditions">
            <h2>Terms & Conditions for Tanger Royal Cars</h2>
            <br>
            <h3>1. Introduction</h3>
            <p>Welcome to Tanger Royal Cars. These Terms and Conditions outline the rules and regulations for the use of
                our website, located at <a href="https://concesionario-glel.onrender.com">https://concesionario-glel.onrender.com</a>. By accessing this
                website, we assume you accept these terms and conditions. Do not continue to use Tanger Royal Cars if
                you do not agree to all of the terms and conditions stated on this page.</p>

            <h3>2. Intellectual Property Rights</h3>
            <p>Unless otherwise stated, Tanger Royal Cars and/or its licensors own the intellectual property rights for
                all material on Tanger Royal Cars. All intellectual property rights are reserved. You may access this
                from Tanger Royal Cars for your own personal use subjected to restrictions set in these terms and
                conditions.</p>
            <p>You must not:</p>
            <ul>
                <li>Republish material from Tanger Royal Cars</li>
                <li>Sell, rent, or sub-license material from Tanger Royal Cars</li>
                <li>Reproduce, duplicate, or copy material from Tanger Royal Cars</li>
                <li>Redistribute content from Tanger Royal Cars</li>
            </ul>

            <h3>3. User Responsibilities</h3>
            <p>As a user of this website, you agree to use the site only for lawful purposes and in a way that does not
                infringe the rights of, restrict, or inhibit anyone else's use and enjoyment of the site. Prohibited
                behavior includes harassing or causing distress or inconvenience to any other user, transmitting obscene
                or offensive content, or disrupting the normal flow of dialogue within our site.</p>

            <h3>4. Your Privacy</h3>
            <p>Please read our <a th:href="@{/privacy}">Privacy Policy</a>.</p>

            <h3>5. Limitation of Liability</h3>
            <p>In no event shall Tanger Royal Cars, nor any of its officers, directors, and employees, be held liable
                for anything arising out of or in any way connected with your use of this website whether such liability
                is under contract. Tanger Royal Cars, including its officers, directors, and employees, shall not be
                held liable for any indirect, consequential, or special liability arising out of or in any way related
                to your use of this website.</p>

            <h3>6. Indemnification</h3>
            <p>You hereby indemnify to the fullest extent Tanger Royal Cars from and against any and/or all liabilities,
                costs, demands, causes of action, damages, and expenses arising in any way related to your breach of any
                of the provisions of these Terms.</p>

            <h3>7. Severability</h3>
            <p>If any provision of these Terms is found to be invalid under any applicable law, such provisions shall be
                deleted without affecting the remaining provisions herein.</p>

            <h3>8. Variation of Terms</h3>
            <p>Tanger Royal Cars is permitted to revise these Terms at any time as it sees fit, and by using this
                website you are expected to review these Terms on a regular basis.</p>

            <h3>9. Governing Law & Jurisdiction</h3>
            <p>These Terms will be governed by and interpreted in accordance with the laws of the State of Tanger, and
                you submit to the non-exclusive jurisdiction of the state and federal courts located in Tanger for the
                resolution of any disputes.</p>
        </div>
    </div>
</div>
<footer th:replace="~{layout/layout ::footer}"></footer>
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/tempusdominus/js/moment.min.js"></script>
<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Template Javascript -->
<script src="/js/main.js"></script>
</body>
</html>
